img{
  width: 250px;
  height: 200px;
}

.row{
  margin-left: 10%;
  margin-right:10%;
  margin-bottom:15px;
  padding: 1%;
  height:230px;
}

.col-6{
  margin: auto;
}
.col-auto{
  margin-left: 1px;
}
#blog{
  overflow: hidden;
  max-height: 120px;
}

#showImage{
  width:100%;
  height:500px;

}
